<p>
    {{#link-to 'home' model.lang class="btn btn-link btn-lg"}}← Video list{{/link-to}}
    <a class="btn btn-primary btn-lg pull-right">Donate</a>
</p>

<h1>Module: {{model.title}} (<i>{{model.family}}</i>)</h1>
<div class="embed-responsive embed-responsive-16by9">
    <iframe src="http://player.vimeo.com/video/{{model.vimeoId}}"></iframe>
</div>
