<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Seed film</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {{#link-to 'home' model.lang tagName="li"}}
                    {{#link-to 'home' model.lang}}
                        {{t 'nav.home'}}
                    {{/link-to}}
                {{/link-to}}
                {{#link-to 'contact' model.lang tagName="li"}}
                    {{#link-to 'contact' model.lang}}
                        {{t 'nav.contact'}}
                    {{/link-to}}
                {{/link-to}}
                {{#each model.availableLanguages as |lang|}}
                    <li>{{#link-to 'home' lang}}{{lang}}{{/link-to}}</li>
                {{/each}}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
{{outlet}}
</div>
