<h1>From seed to seed</h1>

<p>
    From Seed to Seed is a series of 40 short educational films intended for all those who wish to learn how to produce their own vegetable seeds. With the help of magnificent images and short animated drawings it shows, step by step, the production of seeds of 32 kinds of vegetables. In addition, eight theoretical or practical “ABCs” explain the general bases of seed production. These films will help you to understand the cycle of each vegetable from seed to seed, the biology of their flowers and the phenomenon of pollination. You will be able to follow in detail the techniques used for harvesting, extracting, sorting and storing seeds.
    <br/>
    Multiplying your own seeds is an infinite source of sharing, pleasure and satisfaction. It is also the first step towards food autonomy and a contribution towards the preservation of cultivated biodiversity. 
</p>

<h2>Videos</h2>

{{#each model.families as |family|}}
<h3>{{family}}</h3>
<div class="row">
    {{#each (get model.videos family) as |video|}}
    {{#link-to "video.show" video.name}}
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="/img/{{video.name}}.jpg" alt="..."/>
            <div class="caption">
                <h4>{{video.title}}</h4>
            </div>
        </div>
    </div>
    {{/link-to}}
    {{/each}}
</div>
{{/each}}
